ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 640px;
    min-width: 320px;
    background: #fff;
    margin: 0 auto;
    position: relative;
    padding-top: 45px;
    padding-bottom: 55px;
    overflow: hidden;
}
.container .top{
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    height: 45px;
    background: #006699;
    position: absolute;
    top: 0;
    left: 0px;
}
.container .top a{
    width: 45px;
    height: 45px;
    color: #fff;
    line-height: 45px;
    text-align: center;
}
.container .top p{
    overflow: hidden;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    color:#fff;
}
.container .foot{
    width: 100%;
    height: 55px;
    position: absolute;
    left: 0;
    bottom: 0px;
    background: #006699;
}
.container .foot ul li{
    float: left;
    width: 25%;
    height: 55px;
    text-align: center; 
    padding-top: 10px; 
}
.container .foot ul li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;

}
.container .foot ul li a p{
    color: #fff;
}
.container .foot ul li a.current{
    color: orange
}
.container .foot ul li a.current p{
    color: orange;
}

.container .main{
    width: 100%;
    height: 100%;
    position: relative;
}


/* 搜索列表的通用样式 */
.main .search{
    padding: 10px;
}
.main .search .input-search{
    height: 34px;
    margin: 0;
    border-radius: 5px;
    border: 1px solid #007AFF;
    font-size: 12px;
}
.main .search .btn-search{
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 0 5px 5px 0;
}



/* 搜索产品的公共部分 */
.main .main-product{
    padding: 10px;
}
.main .main-product ul li{
    float: left;
    width: 48%;
    padding: 5px 0px;
    border: 1px solid #ccc;
    text-align: center;
}
.main .main-product ul li:nth-child(2n-1){
    margin-right: 4%;
}
.main .main-product ul li a{
    display: block;
    padding: 5px ;
    
}
.main .main-product ul li img{
    display: block;
    width: 130px;
    height: 130px;
    /* width: 100%; */
    margin: 0 auto;
}
.main .main-product ul li p{
    height: 40px;
    /* line-height: 30px; */
}
.main .main-product ul li a .oldprice{
    text-decoration: line-through;
}
.main .main-product ul li a .price{
    color: red;
    
}