.main .main-nav{
    padding: 10px;
}
.main .main-nav ul li{
    float: left;
    width: 33.33%;
   
}
.main .main-nav ul li a{
    display: block;
}
.main .main-nav ul li a img{
    display: block;
    width: 100%;
}
/* 产品区 */
/* .main .main-product{
    padding: 10px;
}
.main .main-product ul li{
    float: left;
    width: 48%;
    padding: 5px 0px;
    border: 1px solid #ccc;
    text-align: center;
}
.main .main-product ul li:nth-child(2n-1){
    margin-right: 4%;
}
.main .main-product ul li a{
    display: block;
    padding: 5px ;
    
}
.main .main-product ul li img{
    display: block;
    width: 100%;
    margin: 0 auto;
}
.main .main-product ul li a .oldprice{
    text-decoration: line-through;
}
.main .main-product ul li a .price{
    color: red;
    
} */